@model IEnumerable<Hamro_dokan.Models.tblProduct>
<div class="header-logo container-fluid">
    @Html.Partial("~/Views/Search/_Image.cshtml")
</div>
<div class="header-logo container-fluid">
    @Html.Partial("~/Views/Search/_Text.cshtml")
</div>
