
@{
    ViewBag.Title = "Manager";
}
<h3><a class="product-name" href="@Url.Action("Index","Banner")">Manage Banners</a></h3>
<br />
<h3><a  class="product-name" href="@Url.Action("Index","Product")">Manage Products</a></h3>